@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scrollbar-width: thin;
  scrollbar-color: black rgba(199, 199, 199, 0.4);
}
#root {
  @apply font-Inter dark:bg-zinc-900/100;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: black rgba(199, 199, 199, 0.4);
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(199, 199, 199, 0.4);
}

.relative:hover .hover-elements {
  visibility: visible;
}
